body {
    display: block;
}


button {
    position: relative;
    left: 5%;
    display: block;
}
#open-or-join-room,#join-room,#open-room{
    display: block;

    width: 90%;
}
#room-id {
    display: block;
    left: 5%;
    position: relative;
    width: 89.5%;
}
.room-url {
    display: block;
    top: 5%;
    position: absolute;
    left: 5%;
    display: block;
}
.messages {
    overflow-x: scroll;
    width: 90%;
    height: 60%;
    position: absolute;
    left: 5%;
    top: 27%;
    border: 1px solid black;
}

.send {
    position: absolute;
    left: 17.2%;
    width: 77.6%;
    height: 10%;
    bottom: 1.5%;
    font-size: 180%;
}

.footer {
    position: absolute;
    display: block;
    bottom: 0%;
    border: 1px solid black;
    height: 5%;
    width: 90%;
    left: 5%;
}

#share-file {
    display: block;
    position: absolute;
    left: 5%;
    bottom: 1.5%;
    width: 12%;
    height: 11%;
}
